.cursor-light {
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  pointer-events: none; /* ne bloque pas les clics */
  background: radial-gradient(
    circle,
    #f72585 0%,
    #f72585 40%,
    #720026 80%,
    transparent 100%
  );
  filter: blur(100px); /* 👈 effet de flou */
  mix-blend-mode: screen; /* effet lumière */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 9999;
}
